//#Opacity Background Mixin
// This mixin is for create backgrounds with a custom opacity.

// * Defaults: $color-text, 0.7
// * Example: @include opacity-background( #1A87D7, 0.5 );

/**
 * **Mixins for transparent backgrounds**
 * Crossbrowser Mixin for simple transparent backgrounds
 *
 * @author Toni Pinel
 *
 * @param {hex-color}	$bg-color ($color-text-background) 	- Background color
 * @param {number}	$opacity (0.7)	- Opacity from 0 to 1
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient
 */


@mixin opacity-background($bg-color:$color-text-background, $opacity:0.7) {
  background-color:rgba($bg-color, $opacity);

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 or $legacy-support-for-ie8 {
	@include has-layout;

	// MS filter alpha channel has a different format from standard browsers.
	$final-bg-color-ie:ie-hex-str(rgba($bg-color, $opacity));
	// IE9 supports rgba & filters, so remember to disable the filter targeting IE9 only.
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#{$final-bg-color-ie}', endColorstr='#{$final-bg-color-ie}');
  }
}

@mixin gradient-ie( $start-color, $end-color, $orientation: vertical){
		@include filter-gradient($start-color, $end-color, $orientation);
};