// # Hide text placeholder
// This placeholder is better than the typical text-indent:-9999px because the
// browser is no longer drawing a -9999px box behind the scenes and it has no
// problem on rtl as well.
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
// IMPORTANT: be careful it dosen't work with padding

// * Example: @extend %hide-text;
%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// # Image replacement
// Hides the text from an element.
// Be sure to include background-image: url(pathtoimage.png); for that specific
// element so that image replacement can occur, and a
// https://github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2

// Browser support: IE8+, Chrome, FF, Safari...
// Example:

// .logo {
//		@extend %image-replacement;
//
//		width: 160px;
//		height: 90px;
//		background-image: url(pathtoimage.png);
// }

%image-replacement {
	& {
		background-color: transparent;
		border: 0;
		overflow: hidden;
	}

	&::before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}
}