@mixin parallax-slides(
$slide-class: 'slide',
$slides-heights: (600px),
$slides-bg-img: (none)
){

	[class^='#{$slide-class}'] {
		& {
			margin: 0;
			padding: $spacing 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-attachment:fixed;
		}

	}

	@for $i from 0 to length($slides-bg-img) {
		.#{$slide-class}-#{$i+1} { background-image: url(nth($slides-bg-img, $i+1)) }
	}

	@for $i from 0 to length($slides-heights) {
		.#{$slide-class}-#{$i+1} { height:nth($slides-heights, $i+1) }
	}
}