%header-footer {
	& {
		width: 100%;
		margin-bottom: $spacing;
		background: $color-header;
		color: $color-background;
		min-height: $spacing*4;
		position: relative;
		padding-top: $spacing/2;
	}
	& > a {
		color: $color-background;
	}
	.logo {
		max-width:75%;
	}
}