$color-text: map-get($colors, foreground) !global;
$color-text-background: map-get($colors, background) !global;
$color-body: map-get($colors, body) !global;
$color-primary: map-get($colors, primary) !global;
$color-secondary: map-get($colors, secondary) !global;
$color-link: map-get($colors, link) !global;
$color-link-hover: map-get($colors, link-hover) !global;
$color-link-background: map-get($colors, link-hover-background) !global;
$color-box: map-get($colors, contrast) !global;
$color-header: map-get($colors, header-background) !global;
$color-rank:map-get($colors, rank) !global;
$color-info: map-get($colors, info) !global;
$color-ok: map-get($colors, success) !global;
$color-ko : map-get($colors, error) !global;
$color-warning: map-get($colors, warning) !global;
$color-focus: map-get($colors, input-focus) !global;


// Variables defined to assure compilation
$color-text-light:map-get($colors, foreground-light) !global;
$color-text-dark: map-get($colors, foreground-dark) !global;
$color-primary-light: map-get($colors, primary-light) !global;
$color-primary-dark: map-get($colors, primary-dark) !global;
$color-secondary-light: map-get($colors, secondary-light) !global;
$color-secondary-dark: map-get($colors, secondary-dark) !global;
$color-box-light: map-get($colors, contrast-light) !global;
$color-box-dark: map-get($colors, contrast-dark) !global;
$color-box-invert: map-get($colors, megacontrast ) !global;

@if $color-text-light == auto {
	@if ( brightness( $color-text ) > 30% ) {
		$color-text-light: lighten( $color-text , 15% ) !global;
	} @else {
		$color-text-light: darken( $color-text , 15% ) !global;
	}
}

@if $color-text-dark == auto {
	@if ( brightness( $color-text ) > 30% ) {
		$color-text-dark: darken( $color-text , 15% ) !global;
	} @else {
		$color-text-dark: lighten( $color-text , 15% ) !global;
	}
}

@if $color-primary-light == auto {
	@if ( brightness( $color-primary ) > 30% ) {
		$color-primary-light: lighten( $color-primary , 15% ) !global;
	} @else {
		$color-primary-light: darken( $color-primary , 15% ) !global;
	}
}

@if $color-primary-dark == auto {
	@if ( brightness( $color-primary ) > 30% ) {
		$color-primary-dark: darken( $color-primary , 15% ) !global;
	} @else {
		$color-primary-dark: lighten( $color-primary , 15% ) !global;
	}
}

@if $color-secondary-light == auto {
	@if ( brightness( $color-secondary ) > 30% ) {
		$color-secondary-light: lighten( $color-secondary , 10% ) !global;
	} @else {
		$color-secondary-light: darken( $color-secondary , 10% ) !global;
	}
}

@if $color-secondary-dark == auto {
	@if ( brightness( $color-secondary ) > 30% ) {
		$color-secondary-dark: darken( $color-secondary , 10% ) !global;
	} @else {
		$color-secondary-dark: lighten( $color-secondary , 10% ) !global;
	}
}

@if $color-box-light == auto {
	@if ( brightness( $color-box ) > 30% ) {
		$color-box-light: lighten( $color-box , 10% ) !global;
	} @else {
		$color-box-light: darken( $color-box , 15% ) !global;
	}
}

@if $color-box-dark == auto {
	@if ( brightness( $color-box ) > 30% ) {
		$color-box-dark: darken( $color-box , 15% ) !global ;
	} @else {
		$color-box-dark: lighten( $color-box , 15% ) !global;
	}
}