// font faces
$font-face-default: Tahoma, Arial, Verdana, sans-serif !global !default;

$font-face-title: 'Arial Narrow', Tahoma, sans-serif !global !default;

$px-to-em-proportion: 16 !global !default;

$icons-font: true !global !default;

$font-line-height: 1.5em !global !default;

$title-line-height: 1.2em !global !default;


//#Font sizes

$font-size-XXXL: 2.2rem !global !default;

$font-size-XXL: 1.7rem !global !default;

$font-size-XL: 1.4rem !global !default;

$font-size-L: 1.2rem !global !default;

$font-size-ML: 1.1rem !global !default;

$font-size-M: 1rem !global !default;

$font-size-default: .9rem !global !default;

$font-size-S: .8rem !global !default;

$font-size-XS: .8rem !global !default;

$font-size-XXS: .7rem !global !default;

$font-size-XXXS: .6rem !global !default;

$font-size-XXXXS: .5rem !global !default;