$object-navigation: map-get($objects, navigation) !global;
$object-navigation-sub: map-get($objects, navigation-sub) !global;
$object-boxes: map-get($objects, boxes) !global;
$object-filters: map-get($objects, filters) !global;
$object-footer: map-get($objects, footer) !global;
$object-form: map-get($objects, form) !global;
$object-form-search: map-get($objects, form-search) !global;
$object-header: map-get($objects, header) !global;
$object-image-circle: map-get($objects, image-circle) !global;
$object-image-polaroid: map-get($objects, image-polaroid) !global;
$object-lists: map-get($objects, lists) !global;
$object-messages: map-get($objects, messages) !global;
$object-pagination: map-get($objects, pagination) !global;
$object-ratings: map-get($objects, ratings) !global;
$object-steps: map-get($objects, steps) !global;
$object-tabs: map-get($objects, tabs) !global;
$object-tags: map-get($objects, tags) !global;