@mixin parallax-slides(
	$slide-class: 'slide',
	$slides-heights: (600px),
	$slides-bg-img: (none)
){

	[class^='#{$slide-class}'] {
		& {
			margin: 0;
			padding: $spacing 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-attachment:fixed;
		}

	}

	@for $i from 0 to length($slides-bg-img) {
		.#{$slide-class}-#{$i+1} { background-image: url(nth($slides-bg-img, $i+1)) }
	}

	@for $i from 0 to length($slides-heights) {
		.#{$slide-class}-#{$i+1} { height:nth($slides-heights, $i+1) }
	}
}

@if $ui-demo == true {
	@include parallax-slides(
			'slide',
			(300px,300px,300px,300px),
			(
				'../../static/img/anti-bullying-tom-froese-wallpaper-1280x800.jpg',
				'../../static/img/brock-davis-wallpaper-1280x800.jpg',
				'../../static/img/dark-igloo-wallpaper-1-1280x800.jpg',
				'../../static/img/haik-avanian-wallpaper-1280x800.jpg'
			)
	);
}
