%title {
	font-family:$font-face-title;
	font-weight:bold;
	line-height: map-get($font-line-height, title);
	margin-bottom: $spacing/4;
}

h1, .fz-h1 {
	@include rem-fallback(font-size, $font-size-xxl*1.2, true);
	@extend %title;
}

h2, .fz-h2 {
	@include rem-fallback(font-size, $font-size-xl*1.2, true);
	@extend %title;
}

h3, .fz-h3 {
	@include rem-fallback(font-size, $font-size-l*1.2, true);
	@extend %title;
}

h4, .fz-h4 {
	@include rem-fallback(font-size, $font-size-ml*1.2, true);
	@extend %title;
}

h5, .fz-h5 {
	@include rem-fallback(font-size, $font-size-m*1.2, true);
	@extend %title;
}

.fz-xxxl {
	@include rem-fallback(font-size, $font-size-xxxl, true);
	line-height: $base-line-height;
}

.fz-xxl {
	@include rem-fallback(font-size, $font-size-xxl, true);
	line-height: $base-line-height;
}

.fz-xl {
	@include rem-fallback(font-size, $font-size-xl, true);
	line-height: $base-line-height;
}

.fz-l {
	@include rem-fallback(font-size, $font-size-l, true);
	line-height: $base-line-height;
}

.fz-m {
	@include rem-fallback(font-size, $font-size-m, true);
	line-height: $base-line-height;
}

.fz-default {
	@include rem-fallback(font-size, $font-size-default, true);
	line-height: $base-line-height;
}

.fz-s {
	@include rem-fallback(font-size, $font-size-xs, true);
	line-height: $base-line-height;
}

.fz-xs {
	@include rem-fallback(font-size, $font-size-xxs, true);
	line-height: $base-line-height;
}