%title {
	font-family:$font-face-title;
	font-weight:bold;
	line-height: $title-line-height;
	margin-bottom: $spacing/4;
}

h1, .fz-h1 {
	@include rem-fallback(font-size, $font-size-XXL*1.2, true);
	@extend %title;
}

h2, .fz-h2 {
	@include rem-fallback(font-size, $font-size-XL*1.2, true);
	@extend %title;
}

h3, .fz-h3 {
	@include rem-fallback(font-size, $font-size-L*1.2, true);
	@extend %title;
}

h4, .fz-h4 {
	@include rem-fallback(font-size, $font-size-ML*1.2, true);
	@extend %title;
}

h5, .fz-h5 {
	@include rem-fallback(font-size, $font-size-M*1.2, true);
	@extend %title;
}

.fz-xxxl {
	@include rem-fallback(font-size, $font-size-XXXL, true);
	line-height: $font-line-height;
}

.fz-xxl {
	@include rem-fallback(font-size, $font-size-XXL, true);
	line-height: $font-line-height;
}

.fz-xl {
	@include rem-fallback(font-size, $font-size-XL, true);
	line-height: $font-line-height;
}

.fz-l {
	@include rem-fallback(font-size, $font-size-L, true);
	line-height: $font-line-height;
}

.fz-m {
	@include rem-fallback(font-size, $font-size-M, true);
	line-height: $font-line-height;
}

.fz-default {
	@include rem-fallback(font-size, $font-size-default, true);
	line-height: $font-line-height;
}

.fz-s {
	@include rem-fallback(font-size, $font-size-XS, true);
	line-height: $font-line-height;
}

.fz-xs {
	@include rem-fallback(font-size, $font-size-XXS, true);
	line-height: $font-line-height;
}